
    <div class="card mx-auto">

    	<div class="card-body">
    	 	<div class="span4 collapse-group">
    	 		<button type="button" class="btn btn-dark">EDITORIAL</button><br>

		    	<h5 class="titlu">Prima rază</h5><br>
              A fost o zi tare gri și ploioasă la Berlin – și e poate providențial că lansarea acestui jurnal-blog-loc-de-joacă-online e prima RAZĂ pe care o văd azi. Sinceră să fiu, nu știu exact ce se va întâmpla aici – e cam ca la prognoza meteo:) Dar indiferent ce ne va aduce viitorul , e cazul să sărbătorim așa cum se cuvine acest moment și <a href="http://localhost:4000/alint/2019/01/15/sa-ne-facem-daruri.html" target="_blank">să ne facem cele mai frumoase daruri posibile</a> - cele ale prieteniei.<br>  
                Tema numărului numărul unu din RAZA este Corpul. Din simplul motiv că ianuarie e luna în care o mulțime de reclame și coperți de revistă ne promit o “siluetă de vis” (presupunând în felul acesta într-un mod parșiv că noi încă nu deținem una). <a href="http://localhost:4000/atitudine/2019/01/13/slabeste-acum.html" target="_blank">Aici</a> puteți citi o mărturie foarte sinceră despre lupta mea cu idealurile de frumusețe și despre calea anevoioasă spre vindecare.<br>  
                Apropo de experiențe vindecătoare: avem! 


		    	<span class="collapse" id="viewdetails3"> Am făcut pentru voi <a href="http://localhost:4000/alint/2019/01/06/trupul-salbatic.html" target="_blank">un platouaș</a> cu fragmente din unul dintre cele mai tămăduitoare texte pe care le-am citit vreodată: capitolul despre trup din cartea „Femei care aleargă cu lupii” de Clarissa Pinkola Estés. Serviți fără rețineri, face minuni pentru siluetă! Apoi citiți <a href="http://localhost:4000/recenzii/2019/01/15/corp-urban.html" target="_blank">gândurile Mamei despre piesa “Corp Urban” a trupei Giuvlipen</a> și rezervați bilete pentru a o vedea cu următoarea ocazie! Iar dacă preferați un serial, vă invit să <a href="http://localhost:4000/recenzii/2019/01/07/dietland.html" target="_blank">vă înfruptați din Dietland</a>, despre care am scris recent.<br>   
                O parte importantă a vindecării e protecția, iar Mama mă (și ne) învață cum să detectăm aspectele problematice ale unui text analizând unul dintre hiturile literare ale anului trecut - <a href="http://localhost:4000/recenzii/2019/01/02/tatiana-tibuleac.html" target="_blank">”Vara în care mama a avut ochii verzi”</a> de Tatiana Țîbuleac.<br>  
                Corpul nu e sclavul nostru. Nu e o entitate separată de noi, care trebuie disciplinată și supusă. Corpul nostru suntem noi, un organism fabulos cu puteri senzoriale, emoționale și mentale nebănuite. Corpul nostru merită afecțiune, nu dresură. La fel cum și noi merităm dragoste, nu pedepse și privare. Voi încheia cu un citat inspirațional pe care l-am văzut într-un cotlon al internetului și pe care sper să mi-l amintesc cât mai mult timp de acum încolo (motiv pentru care îl și scriu aici:): Corpul tău te iubește, iubește-l și tu pe el!  </span> 
		    	<a data-toggle="collapse" data-target="#viewdetails3"><br>CLICK AICI... &raquo;</a>
			</div>
    	</div>
    

    </div>

     <div class="logo2">
 <img src="{{site.url}}/img/favicon.png" class="rounded mx-auto d-block" alt="site-logo">
</div>
